/*Body*/
body{
background-color:white;
width:900px;
margin:auto;
}

/*Container*/
.container{
background-color:white;
min-height:540px;
margin:auto;
}


/*Links Decoration/Decoration*/
a{
text-decoration:none;
}


.nav li a{
font-weight: bold;
color: white;
font-family: Arial, sans-serif;
font-size: 14px;
}

li{
display:inline;
}


/*Navigation*/
.nav{
background: url('/images/topnavbg.gif') repeat-x ;
color: #FFFFFF;
font-family: Tahoma;
font-size: 14px;
width: 890px;
word-spacing:10px;
-moz-border-radius: 10px;
}


/*sidepane*/
div.sdmenu {
	width: 150px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 10px;
	background: url('/images/bottom.gif') no-repeat  right bottom;
	color: #fff;
}
div.sdmenu div {
	background: url('/images/title.gif') repeat-x;
	overflow: hidden;
}
div.sdmenu div:first-child {
	background: url('/images/toptitle.gif') no-repeat;
}
div.sdmenu div.collapsed {
	height: 25px;
}
div.sdmenu div span {
	display: block;
	padding: 5px 25px;
	font-weight: bold;
	color: white;
	background: url('/images/expanded.gif') no-repeat 10px center;
	cursor: default;
	border-bottom: 1px solid #ddd;
}
div.sdmenu div.collapsed span {
	background-image: url('/images/collapsed.gif');
}
div.sdmenu div a {
	padding: 5px 10px;
	background: #eee;
	display: block;
	border-bottom: 1px solid #ddd;
	color: #636363;
}
div.sdmenu div a.current {
	background : #ccc;
}
div.sdmenu div a:hover {
	background : #636363 url('/images/linkarrow.gif') no-repeat right center;
	color: #fff;
	text-decoration: none;
}



