<div class = "header">
	
	<div class = "logo">
		<%= image_tag("logo.png", :alt => "E-Attire") %>
	</div>
	
	<div class="nav">
		<ul>
			<li><%= link_to "Home", "#" %></li>
			<li><%= link_to "Categories", "#" %></li>
			<li><%= link_to "Occasions", "#" %></li>
		</ul>
	</div>
</div>







